# .ebextensions/django.config
option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: AquaGuard.settings
  aws:elasticbeanstalk:container:python:
    WSGIPath: AquaGuard.asgi:application

container_commands:
  01_migrate:
    command: "django-admin migrate --noinput"
    leader_only: true
  02_collectstatic:
    command: "django-admin collectstatic --noinput"

packages:
  yum:
    postgresql-devel: []